{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/new.css') }}">
{% endblock %}
{% block title %}Créer une nouvelle tâche{% endblock %}

{% block body %}
    <h1>Créer une nouvelle tâche</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('tache_index') }}">Retour à la liste</a>
{% endblock %}
