{# templates/devis/new.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/new.css') }}">
{% endblock %}


{% block title %}Nouveau Devis{% endblock %}

{% block body %}
    <h1>Nouveau Devis</h1>

    {{ form_start(form) }}
       
        {{ form_row(form.date_creation) }}
        <!-- Ajoutez d'autres champs du formulaire en fonction de vos besoins -->

       <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
 
    <a href="{{ path('devis_index') }}">Retour à la liste</a>
{% endblock %}
