{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/new.css') }}">
{% endblock %}


{% block title %}Créer un nouveau risque{% endblock %}

{% block body %}
    <h1>Créer un nouveau risque</h1>

    {{ form_start(form) }}
     {{ form_row(form.nom) }}
        {{ form_row(form.description) }}
        {{ form_row(form.impact_potentiel) }}
        {{ form_row(form.plan_action) }}
        {{ form_row(form.projet) }}
        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('risque_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
