{% extends 'base.html.twig' %}



{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/edit.css') }}">
{% endblock %}

{% block title %}Modifier l'utilisateur{{ utilisateur.nom }}{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.role) }}
    {{ form_row(form.avatar) }}
    {{ form_row(form.disponibilite) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
    <a href="{{ path('utilisateur_index') }}">Retour à la liste des utilisateurs</a>
{% endblock %}
