{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/index.css') }}">
{% endblock %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <th scope="row">{{ utilisateur.id }}</th>
                    <td>{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>{{ utilisateur.role }}</td>
                    <td>
                        <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">Voir</a>
                        <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">Modifier</a>
                        <form action="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('utilisateur_new') }}">Ajouter un utilisateur</a>
{% endblock %}
