{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/index.css') }}">
{% endblock %}

{% block title %}Liste des rôles{% endblock %}

{% block body %}
    <h1>Liste des rôles</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
                <tr>
                    <th scope="row">{{ role.id }}</th>
                    <td>{{ role.nom }}</td>
                    <td>
                        <a href="{{ path('role_show', {'id': role.id}) }}">Voir</a>
                        <a href="{{ path('role_edit', {'id': role.id}) }}">Modifier</a>
                        <a href="{{ path('role_delete', {'id': role.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('role_new') }}">Créer un nouveau rôle</a>
{% endblock %}
