{# templates/client/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/edit.css') }}">
{% endblock %}


{% block title %}Modifier Client{% endblock %}

{% block body %}
    <h1>Modifier Client</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('client_index') }}">Retour à la liste</a>
{% endblock %}
