{% extends 'base.html.twig' %}

{% block title %}Fichier{% endblock %}

{% block body %}
    <h1>Fichier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ fichier.nom }}</td>
            </tr>
            <tr>
                <th>Chemin</th>
                <td>{{ fichier.chemin }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ fichier.taille }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ fichier.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fichier_index') }}">Retour à la liste</a>
    <a href="{{ path('fichier_edit', {'id': fichier.id}) }}">Modifier</a>
    {{ include('fichier/delete.html.twig') }}
{% endblock %}
